.chat-main
  .main-header
    .main-header_left-box
      .main-header_left-box sss
      .main-header_left-memberlist Member:zzzzzz
    .main-header_edit-btn
      %a{:href => "#"} Edit

  .messages
    .messages_message
    .messages_message_talker ccccc
    .messages_message_date 2019/11/22(Fri) 00:00:00
    .messages_message_text 1234567890

  .footer
    .footer_left-box
      .footer_left-box_message
      %input{:placeholder => "type a message", :type => "text"}
    .footer_send-btn
      %a{:href => "#"} Send 
    %label.box_icon{for: 'a'}
      = icon('far', 'image', class: "image")
      %input{type: "file" ,class: "box",id: "a"}

