.chat-side
  .side-header
    .side-header__box
 
      %ul.side-header__box__menu
        %p.side-header__box__user-name name
        %p.side-header__box__menu--icon
          = link_to "#", class: "edit" do
            %i.fa.fa-edit
            -# = icon('fas', 'edit', class: "edit")
          
          -# %li.side-header__box__menu__edit-user
          = link_to "#", class: "edit" do 
            %i.fa.fa-cog
            -# = icon('fas', 'cog', class: "cog")
    
            -# = link_to ("#", class: "edit")


  .div.groups
    .div.groups__box
      %ul.div.groups__box__menu
      %p.div.groups__box__group-name group name
      %p.div.groups__box__message hello!
